@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Fredericka+the+Great&family=Orbitron&family=Source+Code+Pro&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #1d1d1d;
    font-family: 'Source Code Pro', monospace;
}

.portfolio {
    display: flex;
    flex-direction: column;
}

.navigate {
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
    height: 85px;
}

.navigate #logo {
    background-color: darkgrey;
    font-size: 46px;
    font-weight: 500;
    margin: 12px 0 10px 60px;
    cursor: pointer;
    font-family: 'Comforter Brush', cursive;
    border-radius: 50px;
    transform: rotate(-16deg);
}

.navigate #logo a {
    text-decoration: none;
    color: #1d1d1d;
}

.navigate #logo:hover {
    background-color: #6b6b6b;
}

.navigate ul {
    list-style: none;
    display: flex;
    font-weight: 600;
    gap: 35px;
    font-size: 18px;
    margin: 30px 60px 30px 20px;
}

.navigate li:hover {
    background-color: darkgray;
    border-radius: 25px;
    padding: 5px;
}

.navigate li a {
    text-decoration: none;
    color: #1d1d1d;
}

.navigate li a:hover {
    color: #6b6b6b;
}

.experiments {
    color: rgb(255, 255, 255);
    padding: 45px;
    margin: 0 300px 0 200px;
}

.items {
    margin: 20px;
    display: flex;
    flex-direction: row;
}

button {
    padding: 6px 20px;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 600;
    background-color: blueviolet;
    color: #1d1d1d;
    cursor: pointer;
    margin: 0px 0px 18px -325px
}


button:hover {
    background-color: darkgray;
}