@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Fredericka+the+Great&family=Orbitron&family=Source+Code+Pro&display=swap');

html {
    background: #ffd89b;
    background: -webkit-linear-gradient(to top, #19547b, #ffd89b);
    background: linear-gradient(to top, #19547b, #ffd89b);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Source Code Pro', monospace;
}

.portfolio {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.navigate {
    display: flex;
    justify-content: space-between;
    height: 13vh;
}

.navigate #logo {
    background: #ffd89b;
    background: -webkit-linear-gradient(to top, #19547b, #ffd89b);
    background: linear-gradient(to top, #19547b, #ffd89b);
    font-size: 46px;
    font-weight: 500;
    margin: 12px 0 10px 60px;
    cursor: pointer;
    font-family: 'Comforter Brush', cursive;
    border-radius: 50px;
    transform: rotate(-16deg);
}

.navigate #logo a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.navigate ul {
    list-style: none;
    display: flex;
    font-weight: 600;
    gap: 35px;
    font-size: 18px;
    margin: 30px 60px 30px 20px;
}

.navigate li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.navigate li a:hover {
    color: #1d1d1d;
}

.intro {
    height: 77vh;
    color: rgb(255, 255, 255);
}

.box {
    display: flex;
    flex-direction: row-reverse;
    background-color: rgba(29, 29, 29, 0.4);
    border-radius: 25px;
    margin: 35px 150px;
    padding: 10px;
}

.about,
.myskills {
    margin: 20px;
    padding: 10px;
}

.about p {
    padding: 10px;
    margin-top: 20px;
    margin-right: 90px;
}

h2 {
    color: #1d1d1d;
}

.skills {
    margin: 20px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.skills span {
    font-size: 18px;
    margin-bottom: 7px;
    display: block;
}

.skills footer {
    background-color: #1d1d1d;
    height: 2px;
}

.skills footer div {
    width: 0;
    height: 100%;
}

.social {
    display: flex;
    justify-content: center;
    height: 10vh;
}


.social ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: auto;
}

.social ul img {
    width: 23px;
    height: 21px;
    display: block;
}