@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Fredericka+the+Great&family=Orbitron&family=Source+Code+Pro&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: rgb(138,43,226);
    background: linear-gradient(229deg, rgba(138,43,226,1) 0%, rgba(29,29,29,1) 35%, rgba(169,169,169,1) 100%);
    font-family: 'Source Code Pro', monospace;
}

.portfolio {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.navigate {
    background: rgb(138,43,226);
    background: linear-gradient(349deg, rgba(138,43,226,1) 0%, rgba(29,29,29,1) 35%, rgba(169,169,169,1) 100%);
    display: flex;
    justify-content: space-between;
    height: 13vh;
}

.navigate #logo {
    background-color: #a9a9a9;
    font-size: 46px;
    font-weight: 500;
    margin: 12px 0 10px 60px;
    cursor: pointer;
    font-family: 'Comforter Brush', cursive;
    border-radius: 50px;
    transform: rotate(-16deg);
}

.navigate #logo a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.navigate #logo:hover {
    background-color: #6b6b6b;
}

.navigate ul {
    list-style: none;
    display: flex;
    font-weight: 600;
    gap: 35px;
    font-size: 18px;
    margin: 30px 60px 30px 20px;
}

.navigate li:hover {
    background-color: darkgray;
    border-radius: 25px;
    padding: 5px;
}

.navigate li a {
    text-decoration: none;
    color:rgb(255, 255, 255);
}

.navigate li a:hover {
    color: #1d1d1d;
}

.intro {
    height: 77vh;
}

.introcontainer {
    color: rgb(255, 255, 255);
    height: 45vh;
    width: 65vw;
    margin: 16vmin 42vh;
    display: flex;
    justify-content: space-around;
}

.myintro {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hey {
    font-size: 28px;
}

.name {
    font-family: 'Fredericka the Great', cursive;
    font-size: 52px;
    color: #1d1d1d
}

.about {
    font-size: 22px;
}

.aboutme {
    margin-top: 20px;
    font-size: 16px;
}

button {
    margin: 30px 12px 0 0;
}

.buttons button a {
    text-decoration: none;
    color: #1d1d1d;
}

.buttons button {
    padding: 12px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 600;
    background-color: blueviolet;
    color: #1d1d1d;
    cursor: pointer;
}


.buttons button:hover {
    background-color: darkgray;
}

.mypic img {
    width: 350px;
    height: 45vh;
}

.social {
    background: rgb(138,43,226);
    background: linear-gradient(352deg, rgba(138,43,226,1) 0%, rgba(29,29,29,1) 35%, rgba(169,169,169,1) 100%);
    display: flex;
    justify-content: center;
    height: 10vh;
}


.social ul {
    list-style: none;
    display: flex;
    gap: 35px;
    margin: auto;
}

.social ul img {
    width: 30px;
    height: 30px;
    display: block;
}