@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #1d1d1d;
    font-family: 'Play', sans-serif;
}

.navigate {
    background-color:darkgray;
    display: flex;
    justify-content:space-between;
    font-family: 'Play', sans-serif;

}

.navigate #logo {
    font-size: 56px;
    font-weight: 600;
    margin-left: 50px;
    cursor: pointer;
}

.navigate #logo a{
    text-decoration: none;
    color:#1d1d1d;
}

.navigate ul {
    list-style: none;
    display: flex;
    gap: 35px;
    font-size: 18px;
    margin: 20px 40px 20px 20px;
}

.navigate li a{
    text-decoration: none;
    color:#1d1d1d;
}

.intro {
    height: 87vh;
}

.introcontainer {
    color: rgb(255, 255, 255);
    height: 45vh;
    width: 65vw;
    margin: 65px auto;
    display: flex;
    justify-content: space-around;
}

.portfolio {
    display: flex;
    flex-direction: column;
}

.myintro{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hey{
    font-size: 68px;
}

.name{
    font-family: 'Fredericka the Great', cursive;
    font-size: 52px;
    color: rgb(255,255,255)
}

.about{
    font-size: 28px;
}

.aboutme{
    margin-top: 10px;
    font-size: 16px;
}

button{
    margin: 30px 12px 0 0;
}

.buttons button{
    padding: 12px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 600;
    background-color: lightseagreen;
    color:#1d1d1d;
    cursor:pointer;
}

.buttons button:hover{
    background-color: rgb(255, 255, 255);
    color: lightseagreen;
}

.mypic img{
    width: 350px;
    height: 45vh;
}