@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=IBM+Plex+Mono&family=Play&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #1d1d1d;
    font-family: 'Play', sans-serif;
}

.heading {
    color: blueviolet;
    width: 13vw;
    height: 100vh;
    font-family: 'IBM Plex Mono', monospace;
}

.heading nav {
    padding: 45px;
}

.heading nav li {
    list-style: none;
    font-size: 18px;
    padding: 15px 0px;
}

.intro {
    width: 87vw;
}

.introcontainer {
    color: rgb(255, 255, 255);
    height: 45vh;
    width: 60vw;
    margin: 60px auto;
    display: flex;
    justify-content: space-around;
}

.portfolio {
    display: flex;
}

.myintro{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hey{
    font-size: 88px;
}

.name{
    font-family: 'Fredericka the Great', cursive;
    font-size: 68px;
    color: rgb(255,255,255)
}

.about{

}

.buttons button{
}

.mypic img{
    width: 350px;
    height: 45vh;
}